

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main-color);
}


/* up-to-date news  */
.news .left .grid-system{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3 , 1fr);
}
.news .left .grid-system .item{
    position: relative;
    background-image: url(../Images/Rectangle\ 20.png);
    background-position: center;
    background-size: cover;
    min-height: 250px;
    border-radius: 7px;
    box-shadow: 2px 2px 8px var(--border) !important;
    overflow: hidden;
    text-decoration: none !important;
}
.news .left .grid-system .item .title{
    position: absolute;
    width: 100%;
    bottom: -100px;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.25) 75%);
    transition: 0.3s ease-in-out;
}
.news .left .grid-system .item:hover > .title{
    bottom: 0;
}
.news .left .grid-system .item:nth-child(3){
    grid-row: span 2;
}
.news .left .grid-system .item:nth-child(4),.news .left .grid-system .item:last-child{
    grid-column: span 2;
}

.news .right .project-post{
    border: 1px solid var(--border);
    border-right-color: transparent;
    border-left-color: transparent;
}

/* teacher lists */
/* .teacher-lists .item{
    max-width: 350px;
} */
/* .teacher-lists .owl-stage-outer{
    width: 95%;
    margin: auto;
} */
.teacher-lists .owl-nav{
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teacher-lists .owl-nav button span{
    color: var(--text-primary ) !important;
    font-size: 60px;
}
.teacher-lists .owl-nav button:hover{
    background-color: transparent !important;
}
.teacher-lists .owl-nav button:hover span{
    color: var(--main-color) !important;
}
.teacher-lists img{
    border: 4px solid var(--main-color);
}

/* activity  */
.activity .grid-system{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4 , 1fr);
}
.activity  .grid-system .item{
    position: relative;
    background-image: url(../Images/Rectangle\ 20.png);
    background-position: center;
    background-size: cover;
    min-height: 200px;
    border-radius: 7px;
    box-shadow: 2px 2px 8px var(--border) !important;
    overflow: hidden;
    text-decoration: none !important;
}
.activity  .grid-system .item .title{
    position: absolute;
    width: 100%;
    bottom: -100px;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.25) 75%);
    transition: 0.3s ease-in-out;
}
.activity  .grid-system .item:hover > .title{
    bottom: 0;
}
.activity  .grid-system .item:nth-child(1){
    grid-row: span 2;
}
.activity  .grid-system .item:nth-child(2),.activity  .grid-system .item:last-child{
    grid-column: span 2;
}


/* responsive  */
@media (max-width: 768px) {
    .news .left .grid-system{
        grid-template-columns: repeat(2 , 1fr);
    }

    .news .left .grid-system .item:nth-child(3){
        grid-row: span 1;
    }
    .news .left .grid-system .item:nth-child(4),.news .left .grid-system .item:last-child{
        grid-column: span 1;
    }

    .activity .grid-system{
        grid-template-columns: repeat(3 , 1fr);
    }
    .activity .grid-system .item{
        min-height: 150px !important;
    }
    .activity  .grid-system .item:nth-child(1){
        grid-row: span 1;
    }
    .activity  .grid-system .item:nth-child(2){
        grid-column: span 1;
    }
}
@media (max-width: 576px) {
    .news .left .grid-system .item{
        min-height: 160px;
    }
    .activity .grid-system{
        grid-template-columns: repeat(2 , 1fr);
    }
    .activity .grid-system .item{
        min-height: 100px !important;
    }
}